.yellow-text{
    color: orange;
    font-size: 20px;
}

li{
    font-size: 30px;
    color: rgb(189, 192, 31);
}

.big-text{
    font-size: 60px;
}

#almeida-text{
    font-size: 80px;
    color: blue;
}